<h2>{{title}}</h2>
<ul class="list">
  {{#each items}}
    <li>
      <a href="/quiz/{{id}}"><strong>{{title}}</strong></a>
      <span>({{questionCount}} questions)</span>
    </li>
  {{/each}}
</ul>
